* { 
    font-family: "Playfair Display", system-ui;
    font-optical-sizing: auto;
}

:root {
  --primary-color: #005800;
  --secondary-color: #000;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --img-border-radius: 180px;
  --btn-border-radius: 50px;
}

/* Global Styles */

.btn-custom-primary {
  background-color: var(--secondary-color) !important;
  color: var(--secondary-text-color) !important;
  border-radius: var(--btn-border-radius) !important;
  padding: 10px 20px !important;
}

/* Nav */

.logo img {
    height: 100px;
    width: auto;
    cursor: pointer
}

.nav-links ul li a {
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.action-items i {
  font-size: 32px;
  color: var(--primary-color);
  cursor: pointer;
}

.bag-icon-wrapper {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -13px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 0.65rem;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 5px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .logo img {
    height: 85px;
    width: auto;
  }
  .title-one {
    font-size: 80px !important;
  }

  .title-two {
    font-size: 55px !important;
  }
  .popular-products img {
    max-height: 420px !important;
  }
}

/* Home */

.title-one {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 95px;
}

.title-two {
  color: var(--secondary-color);
  font-weight: 200;
  font-size: 65px;
}

.home figure img,
.featured-products .row .product img,
.newsletter img {
  border-radius: var(--img-border-radius);
  height: 500px;
  width: 300px;
}

/* Featured Product */

.featured-products .product .product-body .product-price {
  font-size: 40px;
} 


.featured-products .product .product-body .product-name {
  font-size: 23px;
} 

/* Newsletter */

.newsletter h1 {
  color: var(--primary-color)
}

.newsletter i {
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 24px;
}

/* Footer */

footer i {
  font-size: 30px;
  color: var(--secondary-color);
}

/* Popular Products */

.popular-products img {
  width: 100%;
  height: auto;
  max-height: 220px;
  border-radius: 12px; 
  cursor: pointer;
}

.d-flex .product-filter-toggle {
  background: transparent;
  border: 0;
}

.product-filter-toggle i {
  color: var(--secondary-color);
  font-size: 25px;
}

.filter-card {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}

.filter-card.show {
  max-height: 1200px; 
}

@media (min-width: 768px) {
  .filter-card {
    max-height: none !important;
    overflow: visible;
  }
}


